.bg-fondo{
    background-image: url(../../../assets/portada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100%;

   
}
/* alineacion de formulario*/
.formulario{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    width: 70%;
}

.transparente{
    opacity:0.9;
    -moz-opacity:0.9;
    filter: alpha(opacity 90);
    -khtml-opacity: 0.9;
    
  }
 