<div class=" bg-texto d-flex flex-wrap justify-content-center align-items-center p-5">
  <div class="col-md-5 ">
    <img src="./assets/plazoletas.png" alt="" class="w-100">
  </div>
  <div class="text-center container col-md-5 text-black">
    <div class="text-color ">
     <h2>¿QUIENES SOMOS?</h2>
    <H3 class="text-color  "> Taste Roulette ofrecer al usuario la oportunidad de
       disfrutar diferentes experiencias gastronomicas en un solo sitio,
      mediante un e-commerce, que brinda la facilidad de solicitar tu pedido.

    </H3>
  </div>
</div>



      <div class="container">
    <nav class="navbar p-a-0">
      <ul class="nav navbar-nav col-subnav">
      </ul>
    </nav>
      </div>
    </div>

    <div class="m-t-3"></div>

    <section id="sec2">
      <div class="contenedor-texto">
        <a href="#sec1"></a>

      </div>
    </section>
    <footer class="mainfooter" role="contentinfo">
      <div class="footer-top p-y-2">
        <div class="container-fluid">

        </div>
      </div>
 <!--     <div class="footer-middle " >
      <div class="container">
        <div class="row">


          <div class="col-md-3 col-sm-6 p-5">
            <img src="./assets/yiceth.png" alt="...">

     <div class="footer-pad">
     <div class="title p-2">
     <h4>Yiceth Carriazo</h4>
     </div>
     <h5>Contadora Publica titulada y estudiante de programación,
        trabajando para dar un giro de 180 grados en mi vida y
        enfocarme al área de tecnología. Me encantan los animales
        y tengo 2 gatos y un perro, soy alegre y amigable :)</h5>
     </div>
     </div>
     <div class="col-md-3 col-sm-6 p-5">
        <img src="./assets/luis.png" alt="...">

      <div class="footer-pad">
      <div class="title p-2">
      <h4>Luis David Montes</h4>
      </div>
      <h5>Ingeniero electrónico, estudiante de programación web, Hobby videojuegos.</h5>
      </div>
      </div>
      <div class="col-md-3 col-sm-6 p-5 ">
      <img src="./assets/daniel.png" alt="...">

      <div class="footer-pad">
      <div class="title p-2">
      <h4>Daniel Velez</h4>
      </div>
      <h5>Contador Público con experiencia en el área comercial y contable,
        Mi experiencia laboral se ha enfocado en el área comercial y contable,
        lo cual, me ha permitido entender la dinámica financiera y el desarrollo
        de las organizaciones para su crecimiento.</h5>
      </div>
      </div>
      <div class="col-md-3 col-sm-6 p-5">
      <img src="./assets/natalia.png" alt="...">

      <div class="footer-pad">
      <div class="title p-2">
      <h4>Natalia Reyes</h4>
      </div>
      <h5>Maestra en Artes Plásticas con actitud y habilidades en formación infantil,
          poseo conocimientos en alto grado de las diferentes expresiones artísticas.
          Ademas, me apasiona el Diseño ya que gracias a la producción gráfica encuentro
          un medio a la creación y trasformación.</h5>
      </div>
      </div>
      </div>
      </div>
      </div>-->
