<app-navbar></app-navbar>
<div class="container mt-5 d-flex justify-content-center mg-caja">
  <div class="card mg-tamaño mt-5 ">
    <div class="card-header bg-danger text-white border-0 mg-titulo ">
      Registro Restaurante</div>
    <div class="card-body border-0 shadow">
      <form #registerForm="ngForm">
        <div class="form-group">
            <label for="name">Nombre Restaurante</label>
            <input
              #name="ngModel"
              [(ngModel)]="registroResService.selectedRegistroRes.namerestaurante"

              type="text" placeholder="Ingresa Nombre"
              class="form-control mg-5"
              id="namerestaurante"
              name="namerestaurante"
            />
          </div>
          <div class="form-group">
            <label for="Nit">Nit</label>
            <input
              #name="ngModel"
              [(ngModel)]="registroResService.selectedRegistroRes.nit"
              type="text" placeholder="Ingresa Nit"
              class="form-control mg-5"
              id="nit"
              name="nit"
            />
          </div>

          <div class="form-group">
            <label for="local">local</label>
            <input
              #name="ngModel"
              [(ngModel)]="registroResService.selectedRegistroRes.local"
              type="text" placeholder="Ingresa local"
              class="form-control mg-5"
              id="local"
              name="local"
            />
          </div>
          <div class="form-group">
            <label for="adress">Dirección</label>
            <input
              #name="ngModel"
              [(ngModel)]="registroResService.selectedRegistroRes.adress"
              type="text" placeholder="Ingresa dirección"
              class="form-control mg-5"
              id="adress"
              name="adress"
            />
          </div>
          <div class="form-group">
            <label for="phone">Telefono</label>
            <input
              #name="ngModel"
              [(ngModel)]="registroResService.selectedRegistroRes.phone"
              type="text" placeholder="Ingresa telefono"
              class="form-control mg-5"
              id="phone"
              name="phone"
            />
          </div>
         <div class="form-group">
            <label for="password">Email</label>
            <input
              #name="ngModel"
              [(ngModel)]="registroResService.selectedRegistroRes.email"
              type="text" placeholder="Ingresa Email"
              class="form-control mg-5"
              id="email"
              name="email"
            />
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input
              #name="ngModel"
              [(ngModel)]="registroResService.selectedRegistroRes.password"
              type="password" placeholder="Ingresa contraseña"
              class="form-control mg-5"
              id="password"
              name="password"
            />
          </div>
          <div class="form-group">
            <label for="role">Rol del usuario</label>
           <!--<input
              #name="ngModel"
              [(ngModel)]="registroResService.selectedRegistroRes.role"
              type="number" placeholder="Ingresa rol"
              class="form-control mg-5"
              id="role"
              name="role"
              min="1"
            />--> 
            <select
            class="custon-select"
            [(ngModel)]="registroResService.selectedRegistroRes.role"
            type="number"
            class="form-control"
            id="role"
            name="role"
          > 
        <option selected>Elija una opción</option>
        <option value="1">Cliente</option>
        <option value="0">Restaurante</option>
    
        </select>




          </div>
         <div class="form-group d-flex flex-colum">
            <label for="image ">Imagen</label>
            <input
              type="file"
              id="image"
              name="image"
              alife-file-to-base64
              (onFileChanged)="loadImage($event)"
            />
          </div>
          <img class="text-center mb-3" *ngIf="registroResService.selectedRegistroRes.file"
          src="{{registroResService.selectedRegistroRes.file}}" alt="" width="200" >

          <div class="d-flex justify-content-center flex-wrap">
          <button class="btn btn-dark">
          <a class="bg-color" href="./signin" (click)="signup(registerForm)">Registrarse</a></button>
        </div>
        </form>
    </div>
  </div>
</div>



