<div class="d-flex justify-content-center d-wrap ml-5">
<div class="container  col-md-3  row row-cols-1 row-cols-md-1 "
 style="width: 27rem;">
  <figure class="mg-1  ">
    <img src="./assets/yizeth.png" alt="foto yiceth " />
    <div class="capa">
      <h3>Yiceth Carriazo</h3>
      <p>
        Contadora Publica titulada y estudiante de programación, trabajando para
        dar un giro de 180 grados en mi vida y enfocarme al área de tecnología.
        Me encantan los animales y tengo 2 gatos y un perro, soy alegre y
        amigable :)
      </p>
    </div>
  </figure>

</div>

  <div class="container col-md-3  row row-cols-1 row-cols-md-1"
   style="width: 27rem; ">
    <figure class="mg-2">
    <img src="./assets/luism.png" alt="foto luis" />
    <div class="capa">
      <h3>Luis David Montes</h3>
      <p>
        Ingeniero electrónico, estudiante de programación web, Hobby
        videojuegos.
      </p>
    </div>
  </figure>

</div>
  <div class="container  col-md-3  row row-cols-1 row-cols-md-1"
   style="width: 27rem; ">
    <figure class="mg-3">
     <img src="./assets/daniel.png" alt="foto Daniel" />
    <div class="capa">
      <h3>Daniel Velez</h3>
      <p>
        Contador Público con experiencia en el área comercial y contable, Mi
        experiencia laboral se ha enfocado en el área comercial y contable, lo
        cual, me ha permitido entender la dinámica financiera y el desarrollo de
        las organizaciones para su crecimiento.
      </p>
    </div>
  </figure>

</div>

  <div class="container col-md-3  row row-cols-1 row-cols-md-1"
  style="width: 27rem;">

  <figure class="mg-4">

    <img src="./assets/nataliar.png" alt="foto natalia" />
    <div class="capa">
      <h3>Natalia Reyes</h3>
      <p>
        Maestra en Artes Plásticas con actitud y habilidades en formación
        infantil, poseo conocimientos en alto grado de las diferentes
        expresiones artísticas. Ademas, me apasiona el Diseño ya que gracias a
        la producción gráfica encuentro un medio a la creación y trasformación.
      </p>
    </div>
  </figure>

</div>
</div>

