
      <!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="./assets/logo.png" alt="Logo" width="40" height="40" />
      Taste Roulette</a>
      <!--boton burguer-->
    <button
      class="navbar-toggler "
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto"
        *ngIf="!checkService.loggedIn(); else loggedIn"
      >
          <a class="nav-link" href="/signin">Iniciar Sesion</a>
          <a class="nav-link" href="/signup">Registrarse</a>
      </div>


      <ng-template #loggedIn>
        <div class="navbar-nav ml-auto">

          <a class="nav-link" href="/home">Home</a>

          <a class="nav-link" href="/pagar">Pagar</a>
          <a target="_blank" (click)="irAlCarrito()"
          class="nav-link mx-2"
            >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-cart-check"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"
              />
              <path
                d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
              /></svg>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
            {{listaDeCompra.length}}
          </span>
        </a>
          <a class="nav-link"
          style="cursor: pointer"
          (click)="checkService.logout()"
          >Cerrar Sesión</a >

        </div>
      </ng-template>
    </div>
  </div>
</nav>



