<div class="d-flex justify-content-center d-wrap">
<div class="col-md-4 border-solid" >
  <div class="card mt-5 " style="width: 17rem;">
    <div class="card-body">
      <img src="{{restaurante.file}}" class="card-img-top" alt="...">
      <h5 class="card-title">{{restaurante.namerestaurante}}</h5>
      <p class="card-text">{{restaurante.local}}</p>

      <button (click)="selectMenu(restaurante._id)" class="btn btn-outline-success ">Menu</button>
      <button (click)="editRestaurante(restaurante._id)" class="btn btn-outline-warning">Editar</button>
      <button (click)="deleteRestaurante(restaurante._id)" class="btn btn-outline-danger">Eliminar</button>
    </div>
  </div>
</div>
</div>
